* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 66px;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
}
header .container {
  max-width: 1060px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding: 0 60px;
}
header a {
  text-decoration-color: rgba(0, 0, 0, 0);
  text-underline-offset: 6px;
}
header a:not(#logo):hover {
  text-decoration-color: black;
}
header a:not(#logo):active {
  color: #b4a094;
  text-decoration-color: #b4a094;
}
header #logo {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
header .burger {
  display: none;
  background-image: url(./images/burger.svg);
  width: 50px;
  height: 40px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
header nav {
  width: 600px;
  min-width: 300px;
  display: inline;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li {
  list-style: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
header li a {
  color: black;
}
header a.button {
  width: 134px;
  height: 44px;
  border: 2px solid black;
  border-radius: 10px;
  background: #E5D5CB;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
header a.button:hover {
  background-color: #d4baa9;
}
header a.button:active {
  background-color: #b4a094;
}

.banner {
  height: auto;
  background-color: #E5D5CB;
  position: relative;
  padding: 60px 0;
}
.banner .container {
  max-width: 760px;
  margin: 0 auto;
  height: 100%;
  align-items: normal;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  width: 84.5%;
  flex-wrap: wrap;
}
.banner img {
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  height: 220px;
  border-radius: 250px;
}
.banner .me {
  padding: 20px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner .me h1 {
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 6px;
}
.banner .me p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
}
.banner .social img {
  width: 42px;
  height: 40px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 0;
}
.banner .social span {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.banner .social span img {
  margin: 0;
}

#about-me {
  padding: 20px 40px;
}
#about-me span {
  height: 20px;
  display: flex;
  align-items: center;
}
#about-me h2 {
  font-family: Merriweather;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#about-me hr {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #b4a094;
  border: none;
}
#about-me p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  max-width: 900px;
  min-width: 300px;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 28px;
}
#about-me p:last-of-type {
  color: #b4a094;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#about-me p:last-of-type span {
  background: url("./images/arrow.svg") no-repeat center center;
  background-size: cover;
  display: flex;
  width: 10px;
  height: 20px;
  margin: 0 0 0 10px;
  transform: rotate(0);
}

#skills {
  padding: 20px 40px;
}
#skills span {
  height: 20px;
  display: flex;
  align-items: center;
}
#skills h2 {
  font-family: Merriweather;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#skills hr {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #b4a094;
  border: none;
}
#skills p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  max-width: 900px;
  min-width: 300px;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 28px;
}
#skills p {
  max-width: 700px;
}
#skills p a {
  color: #b4a094;
  text-decoration: none;
}
#skills p span {
  font-weight: bold;
  display: inline;
}

#pet-projects {
  margin-top: 30px;
  position: relative;
  padding: 20px 40px;
}
#pet-projects span {
  height: 20px;
  display: flex;
  align-items: center;
}
#pet-projects h2 {
  font-family: Merriweather;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#pet-projects hr {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #b4a094;
  border: none;
}
#pet-projects p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  max-width: 900px;
  min-width: 300px;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 28px;
}
#pet-projects .project {
  width: 70%;
  min-height: 350px;
  text-overflow: ellipsis;
  margin: 60px auto 20px auto;
}
#pet-projects .project img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
#pet-projects .project .project-image {
  float: left;
  margin-right: 10%;
  width: 238px;
  height: 370px;
  position: relative;
  min-width: none;
}
#pet-projects .project .project-image:hover .links {
  display: flex;
}
#pet-projects .project .project-image .links {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.8);
}
#pet-projects .project .project-image .links img {
  width: 42px;
  height: 40px;
  margin-right: 0;
  margin-top: 10px;
  border-radius: 0;
}
#pet-projects .project .project-image .links p {
  min-width: 0;
}
#pet-projects .project .project-image .links ul {
  margin: 0 auto;
}
#pet-projects .project .project-image p {
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 600;
}
#pet-projects .project .project-image li {
  list-style: none;
}
#pet-projects .project h2 {
  display: inline;
}
#pet-projects .project p + span {
  height: auto;
  width: 50px;
  flex-wrap: wrap;
}
#pet-projects .project ul {
  display: flex;
}
#pet-projects .project ul li {
  list-style: none;
}
#pet-projects .project ul li img {
  width: 45px;
  height: 40px;
  margin-right: 4px;
}
#pet-projects .project p {
  text-align: left;
  font-size: 18px;
  width: auto;
}
#pet-projects .project p:first-of-type {
  margin-top: 5px;
}
#pet-projects .project p:first-of-type {
  font-size: 16px;
}
#pet-projects a#end {
  width: 300px;
  height: 40px;
  display: block;
  margin: 20px auto;
  text-decoration: none;
  padding-top: 5px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 33px;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #b4a094;
  transition: background-color 0.3s, color 0.3s;
}
#pet-projects a#end:hover {
  background-color: #b4a094;
  color: white;
}

footer {
  padding: 20px 40px;
}
footer span {
  height: 20px;
  display: flex;
  align-items: center;
}
footer h2 {
  font-family: Merriweather;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer hr {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #b4a094;
  border: none;
}
footer p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  max-width: 900px;
  min-width: 300px;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 28px;
}
footer .contacts {
  height: auto;
}
footer .contacts ul {
  margin: 0 auto;
  padding-top: 10px;
}
footer .contacts li {
  text-align: center;
  list-style: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 20px;
}
footer .contacts li a {
  text-decoration: none;
  color: #b4a094;
}
footer .contacts li a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  header .burger {
    display: flex;
  }
  header nav {
    display: none;
  }
  header nav.open {
    display: flex;
    position: absolute;
    top: 66px;
    left: 0;
    height: 98vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  header nav.open ul {
    width: 100%;
    text-align: center;
    display: block;
  }
  header nav.open ul li, header nav.open ul a.button {
    margin: 10px auto;
  }
  header nav.open ul li {
    height: 50px;
    width: 130px;
    background-color: silver;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav.open ul li:hover {
    background-color: grey;
  }
  header nav.open ul li a {
    color: white;
    font-weight: bold;
  }
  header nav.open ul li a:not(#logo):hover {
    text-decoration-color: white;
  }
}
@media (max-width: 800px) {
  .banner {
    height: 100%;
    padding: 20px 40px;
  }
  .banner img {
    margin-right: 0;
  }
  .banner .container {
    justify-content: center;
    text-align: center;
  }
  .banner .social {
    margin-top: 20px;
  }
  .banner .social span {
    margin: 10px auto 0 auto;
  }
  #about-me p:last-of-type {
    display: none;
  }
  #skills {
    margin-top: 0;
  }
  #pet-projects .project {
    text-align: center;
    height: auto;
    margin-top: 20px;
  }
  #pet-projects .project div.project-image {
    width: 100%;
    margin: 15px auto 0 auto;
  }
  #pet-projects .project p {
    text-align: center;
    margin: 0 auto;
    max-width: none;
    min-width: auto;
    max-height: 200px;
    overflow-y: scroll;
  }
  #pet-projects .project p + span {
    margin: 0 auto 10px auto;
    width: 100%;
  }
  #pet-projects .project p + span p {
    width: 100%;
  }
  #pet-projects .project p + span ul {
    margin: 0 auto;
  }
  #pet-projects a#end {
    margin-top: 50px;
  }
}
@media (max-width: 400px) {
  header #logo {
    font-size: 30px;
    font-weight: 800;
  }
  header .burger {
    width: 45px;
    height: 35px;
  }
}/*# sourceMappingURL=index.css.map */